
<nav class="navbar navbar-expand-lg navbar-dark bg-info">
    <a class="navbar-brand" href="#">Fixed bottom</a>
</nav>

<!-- jQuery first, then Popper.js, then Bootstrap JS. -->
    <script src="/axios/dist/axios.min.js"></script>
    <script src="/jquery/dist/jquery.min.js"></script>
    
    <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/js/main.js"></script>
</body>
</html>