

<footer id="footer">
    <div class="container">
        <div class="col-sm-12">
        <div id="upper-section" class="row">
            <div class="footer-info col-xs-6 col-sm-3">
                <ul>
                    <h3>Learn More</h3>
                    <li><a href="/about-us">About Us</a></li>
                    <li><a href="/getting-started">Getting Started</a></li>
                    <li><a href="/dashboard">Dashboard</a></li>
                    <li><a href="/opportunities">Opportunities</a></li>
                    <li><a href="#">Blog</a> </li>
                    <li><a href="#">Press Kit</a></li>
                </ul>
            </div>
    
            <div class="footer-info col-xs-6 col-sm-3">
                <ul>
                    <h3>Social</h3>
                    <li>
                    <a class="facebook" href="#" target="_blank" style="white-space: nowrap">
                        <i class="fa fa-facebook fa-custom-social"></i>&nbsp;Facebook
                    </a>
                    </li>
                    <li>
                    <a class="twitter" href="#" target="_blank" style="white-space: nowrap">
                        <i class="fa fa-twitter fa-custom-social"></i>&nbsp;Twitter
                    </a>
                    </li>
                </ul>
            </div>
    
            <div class="footer-info col-xs-12 col-sm-3">
                <ul>
                    <h3>Our Sponsors</h3>
                    <li>
                    <a href="#" target="_blank">Standup Bot</a>
                    </li>
                    <li>
                    <a href="#" target="_blank">Craft Academy</a>
                    </li>
                    <li>
                    <a href="#" target="_blank">Mooqita</a>
                    </li>
                    <li>
                    <a style="font-size: 0.9em;" href="#">Becoming a sponsor</a>
                    </li>
                </ul>
            </div>
            <div class="footer-info col-xs-12 col-sm-3">
                <ul>
                    <h3>Our Sponsors</h3>
                    <li>
                    <a href="#" target="_blank">Standup Bot</a>
                    </li>
                    <li>
                    <a href="#" target="_blank">Craft Academy</a>
                    </li>
                    <li>
                    <a href="#" target="_blank">Mooqita</a>
                    </li>
                    <li>
                    <a style="font-size: 0.9em;" href="#">Becoming a sponsor</a>
                    </li>
                </ul>
            </div>
        </div>
    
        </div>
    
        
    </div>
  
  </footer>

<!-- jQuery first, then Popper.js, then Bootstrap JS. -->
    <script src="/axios/dist/axios.min.js"></script>
    <script src="/jquery/dist/jquery.min.js"></script>
    
    <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/js/main.js"></script>
</body>
</html>