<div class="container ">
<div class="d-flex justify-content-between bg-light  mb-2 mt-1 ">
  
    <a class="navbar-brand ml-4" href="/services">Amed-S</a>
    <button type="button" class="btn btn-outline-info btn-sm mr-4 mt-1 mb-1" style ="font-size: .8rem;">Arabe</button>
   
  </div>
</div>
</div>


<div class="container">
  
  <nav class="navbar navbar-expand-lg navbar-dark bg-info">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="/services">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Services
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/services/create">Créer </a>
            <a class="dropdown-item" href="/services/dashboard">Consulter</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
        
      </ul>
  
  
      <ul class="navbar-nav ml-auto">
        <% if (!locals.user) { %>
        <li class="nav-item">
          <a class="nav-link" href="/users/login">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/users/signup">Register</a>
        </li>
        <% } else {%>  
          <li class="nav-item">
            <a class="nav-link" href="/users/logout"><%= locals.user.email+" " %> Logout</a>
          </li>
          <% } %>
      </ul>
    </div>
  </nav>
</div>  


