* {box-sizing: border-box;}

.mycontainer {
  position: relative;
}


.overlay {
  position: absolute; 
  bottom: 0; 
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1; 
  max-width: 80%;
  height: 100%;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 20px;
  padding: 10px;
  text-align: center;
  z-index: 99;
}

.mycontainer:hover .overlay {
  opacity: 1;
}

.bg-text {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    width: 50%;
    margin: 50px auto;
    padding: 20px;
    text-align: center;
    display: block
  }
 

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}
.has-search .form-control {
  padding-left: 2.375rem;
}

  @media screen and (max-width: 700px){
    .bg-text {
       /* display: none*/
       top:35%;
    } 
    
  }
.font1 {
    font-size: 2vh;
}
