<div class="container bg-light">
    <div class="row mt-3">
        <div class="col-sm-7 border border-info p-1">
            <img src="/images/image2.jpg" class="img-fluid" alt="Responsive image">

        </div>
        <div class="col-sm-5">
            <h3 class='text-center p-4'>Vous pouvez chercher le service medical qui vous convient:</h3>
            
            <a class="btn btn-outline-info btn-sm btn-block" href="/services/showall" role="button">
                  Medecins
            </a>
            
            
            <button type="button" class="btn btn-outline-info btn-sm btn-block">Paramédical</button>
            <button type="button" class="btn btn-outline-info btn-sm btn-block">Pharmacie & Parapharmacie</button>
            <button type="button" class="btn btn-outline-info btn-sm btn-block">Labos d'analyse</button>
            <button type="button" class="btn btn-outline-info btn-sm btn-block">Cliniques</button>
            <button type="button" class="btn btn-outline-info btn-sm btn-block">Transport Sanitaire</button>
            <button type="button" class="btn btn-outline-info btn-sm btn-block">Télémedcine</button>
            <button type="button" class="btn btn-outline-info btn-sm btn-block">Ecole Paramédical</button>

            
        </div>
    </div>
</div>
<div class="container mt-4 mb-6">
    <div class="row mb-6">
    <div class="col-sm-4">
        <div class="card" >
            <img src="/images/image1.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
    </div>
    <div class="col-sm-4">
        <div class="card" >
            <img src="/images/image3.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
    </div>
    <div class="col-sm-4">
        <blockquote class="blockquote p-4">
            <p class="mb-0">" Je remercie l'equipe médical et paramédical qui à pris soin de moi durant mon séjour à la clinique : Dr Mosbah, les anesthésistes, les
                infirmiers et aides soignant. Mon séjour a été confortable et j'ai traouvé attention et ecoute aupréde tous."
            </p>
          </blockquote>
    </div>
    </div>
    
</div>