<div class="container ">
    <div class="row m-0 mt-2 ">
        <div class="col-xs-12 border border-warning p-0 mycontainer " style="border-width: 4px!important;">
            <img src="/images/image2.jpg" class="img-fluid m-1 pr-2 " alt="Responsive image">
            
            <div class="overlay d-flex flex-column">
                <a class="btn btn-info btn-block btn-sm font1" 
                    href="/services/showall" role="button">
                        Medecins
                </a>
                <a class="btn btn-info btn-block btn-sm font1" 
                    href="/services/showall" role="button">  
                    Pharmacie & Parapharmacie
                </a>
                <a class="btn btn-info btn-block btn-sm font1"  
                    href="/services/showall" role="button">
                        Labos d'analyse
                </a>
                <a class="btn btn-info btn-block btn-sm font1"  
                    href="/services/showall" role="button">
                        Cliniques
                </a>
                <a class="btn btn-info btn-block btn-sm font1"  
                    href="/services/showall" role="button">
                        Transport Sanitaire
                </a>
                <a class="btn btn-info btn-block btn-sm font1"  
                    href="/services/showall" role="button">
                        Télémedcine
                </a>
                <a class="btn btn-info btn-block btn-sm font1" 
                    href="/services/showall" role="button">
                        Ecole Paramédical
                </a>
                <a class="btn btn-info btn-block btn-sm font1"  
                    href="/services/showall" role="button">
                        Paramédical
                </a>
            </div>
        </div>
    </div>
    
</div>
<div class="bg-text">
    <p id = "title1">Blurred Background</p>
    <p id = "title2">I am John Doe</p>
    <p id = "title3">And I'm a Photographer</p>
  </div>
<div class="container mt-4 mb-6">
    <div class="row mb-6">
    <div class="col-sm-4">
        <div class="card" >
            <img src="/images/image1.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
    </div>
    <div class="col-sm-4">
        <div class="card" >
            <img src="/images/image3.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
    </div>
    <div class="col-sm-4">
        <blockquote class="blockquote p-4">
            <p class="mb-0">" Je remercie l'equipe médical et paramédical qui à pris soin de moi durant mon séjour à la clinique : Dr Mosbah, les anesthésistes, les
                infirmiers et aides soignant. Mon séjour a été confortable et j'ai traouvé attention et ecoute aupréde tous."
            </p>
          </blockquote>
    </div>
    </div>
    
</div>